<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Correo
						</th>
						<th>
							Operacion
						</th>
						<th>
							Descripcion
						</th>
						<th>
							Fecha
                        </th> 
                     <th>
                        Precio Compra
                    </th>
                    <th>
                        Moneda
                    </th>
                    <th>
                        Monto
                    </th>
                    </tr>



				</thead>
				<tbody id ='tabla'> 
					<tr>
						<td>
							adriana@bbva.com
						</td>
						<td>
							compra
						</td>
						<td>
							Compra
						</td>
						<td>
							01/04/2012
                        </td>
                        <td>
							8478.512462399998
                        </td>
                        <td>
							ETH
                        </td>
                        <td>
							1111
						</td>

                        <tr>
                            <td>
                                jose@bbva.com
                            </td>
                            <td>
                                Venta
                            </td>
                            <td>
                                sddfs
                            </td>
                            <td>
                                01/04/2020
                            </td>
                            <td>
                                8478.512462399998
                            </td>
                            <td>
                                MXN
                            </td>
                            <td>
                                1627
                            </td>
                        
				</tbody>
			</table>
		</div>
	</div>
</div>

    
    